body{
    background-color: rgb(44, 45, 44);
  }
  
img {
  width: 60%;
}

a {
  color: rgb(234, 113, 0)
}

a:visited {
  color: rgb(26, 145, 117);
}

ul {
  position: fixed;
  top: 0;
  Left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

button {
  background-color: rgb(234, 113, 0);
  color: rgb(219, 219, 219);
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background: rgb(26, 145, 117);
}

a.Title {
  color: rgb(234, 113, 0);
  text-decoration: underline;
}

div.content ul {
  position: relative;
}

#menu li {
  float: left;
}

#overlay img#overlay-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

li#contact {
  float: right;
}

  ul#menu li a {
    display: block;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li div.dropdown {
    display: block;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(26, 145, 117);
  }

  #next {
    margin-top: 50px;
    height: 500px;
    width: 40px;
    position: relative;
    font-size: 21px;
    border: none;
  }

  #prev {
    margin-top: 50px;
    height: 500px;
    width: 40px;
    position: relative;
    font-size: 21px;
    border: none;
  }

  #close-button {
    font-size: 20px;
    width: 50px;
    border: none;
    margin-right: 30px;
  }

  #overlay {
    position:absolute;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.726);
    margin-left: 10%;
    width: 70%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    color: rgb(219, 219, 219);
  }

  #overlay img {
    margin-left: 2%;
    margin-top: 4%;
    width: 100%;
  }

  .active-image {
    font-size: 50px
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rgb(0, 0, 0) rgb(95, 97, 95);
    scrollbar-width: thin;
  }
  
  .enable {
    visibility: visible;
  }

  .disable {
    visibility: hidden;
  }

  .active {
    background-color: rgb(234, 113, 0);
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(219, 219, 219);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .Title {
    font-size: 50px;
    text-align: center;
    color: rgb(234, 113, 0);
    padding-bottom: 20px;
  }

  .center {
    text-align: center;
  }

  .content {
     background-color: #333;
     color: rgb(219, 219, 219);
     padding: 5%;
     margin-left: 20%;
     margin-right: 20%;
     margin-top: 5%;
     border-radius: 15px;
  }

  .content-right {
    background-color: #333;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 15px;
    margin-top: 5%;
    height: 85%;
    max-width: 16%;
    overflow-y: scroll;
  }

.status-paused {
  color: darkorange;
}

.status-canceled {
  color: red;
}

.status-working {
  color: greenyellow;
}

.status-complete {
  color: rgb(234, 113, 0);
}

.img-container {
  margin-top: 5%;
}

.img-container img {
  margin-left: 5%;
  width: 90%;
}

.img-container img:hover {
  cursor: pointer;
}
  
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 600px) {
  #menu li:not(:first-child) {display: none;}
  #menu li.icon {
    float: right;
    display: block;
  }

  .content-right {
    position: relative;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #menu.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

